alabaster==0.7.16
altgraph==0.17.5
Babel==2.15.0
charset-normalizer==3.3.2
click==8.1.7
docutils==0.20.1
idna==3.11
imagesize==1.5.0
incremental==22.10.0
Jinja2==3.1.4
MarkupSafe==2.1.5
Pygments==2.19.2
pytz==2026.1.post1
requests==2.32.5
snowballstemmer==2.2.0
Sphinx==7.3.7
sphinx-autodoc-typehints==2.3.0
sphinx-copybutton==0.5.2
sphinx-inline-tabs==2025.12.21.14
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-towncrier==0.5.0a0
sphinx-issues==5.0.1
sphinx-rtd-theme==2.0.0
towncrier==25.8.0
urllib3==2.6.3
